<div class="block max-w-[18rem] rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white" style="text-align: center;">
  <div class="p-6">
    <h5 class="mb-2 text-xl font-medium leading-tight">Order ID: <%= @order.id %></h5>
    <p class="text-base">
      <%= @order.customer.full_name %><br>
      <%= @order.email %><br>
      <%= number_to_currency(@order.total) %>
    </p>
  </div>
  <% if @order.line_items.any? %>
    <h3 class="mb-2 text-xl font-medium leading-tight">Items:</h3>
    <ul class="w-full">
      <% @order.line_items.group(:product_id).sum(:quantity).map do |product_id, quantity| %>
        <li class="w-full border-b-2 border-neutral-100 border-opacity-100 px-6 py-3  dark:border-white/10">
          <% product = Product.find(product_id) %>
          <%= "#{product.title} Cantidad: #{quantity}" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
