<section class="py-24 relative">
    <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">
        <div class="flex items-start flex-col gap-6 xl:flex-row ">
            <div class="w-full max-w-sm md:max-w-3xl xl:max-w-sm flex items-start flex-col gap-8 max-xl:mx-auto">
                <div class="p-6 border border-gray-200 rounded-3xl w-full group transition-all duration-500 hover:border-gray-400 ">
                    <h2
                        class="font-manrope font-bold text-3xl leading-10 text-black pb-6 border-b border-gray-200 ">
                        Mi carrito
                    </h2>
                    <div class="data py-6 border-b border-gray-200">
                          <div class="flex items-center justify-between gap-4 mb-5">
                              <p class="font-normal text-lg leading-8 text-gray-400 transition-all duration-500 group-hover:text-gray-700">Total productos:</p>
                              <p class="font-medium text-lg leading-8 text-gray-900"><%= number_to_currency(@current_cart.total_items) %></p>
                          </div>
                        
                    </div>
                    <div class="total flex items-center justify-between pt-6">
                      <p class="font-normal text-xl leading-8 text-black ">Total:</p>
                      <h5 class="font-manrope font-bold text-2xl leading-9 text-indigo-600"><%= number_to_currency(@current_cart.total) %></h5>
                    </div>
                </div>
                <%= link_to 'Continuar compra', edit_order_path(@current_cart.order), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full', style: 'width: 100%; text-align: center;' %>
            </div>

            <div class="w-full max-w-sm md:max-w-3xl max-xl:mx-auto">
                <div class="grid grid-cols-1 gap-6">
                    <% @current_cart.line_items.map do |item| %>
                      <div class="rounded-3xl p-6 bg-gray-100 border border-gray-100 flex flex-col md:flex-row md:items-center gap-5 transition-all duration-500 hover:border-gray-400">
                          <div class="img-box ">
                              <img src="https://pagedone.io/asset/uploads/1701167635.png" alt="Denim Jacket image" class="w-full md:max-w-[122px]">
                          </div>
                          <div class="grid grid-cols-1 md:grid-cols-2 w-full gap-3 md:gap-8">
                              <div class="">
                                <h2 class="font-medium text-xl leading-8 text-black mb-3"><%= item.product.title %></h2>
                              </div>
                              <div class="">
                                <h2 class="font-medium text-xl leading-8 text-black mb-3">Cantidad: <%= item.quantity %></h2>
                              </div>
                              <div class="flex items-center justify-between gap-8">
                                <h6 class="font-medium text-xl leading-8 text-indigo-600"><%= number_to_currency(item.product.price) %></h6>
                              </div>
                          </div>
                      </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
                                            